/*@import url(https://fonts.googleapis.com/css?family=Merriweather);*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*html {
  font-family: Merriweather, Georgia, serif;
  font-size: 62.5%;
}
body {
  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 95%);
  border-top: 5px solid hsl(220, 50%, 75%);
  max-width: 920px;
  margin: 0 auto;
  padding: 30px;
  bottom: 0;
  top: 0;
}*/
